.boxsize img{
	height:60px;
}
.boxsize input{
	height:20px;
}
.boxsize button{
	height:20px;
}
.colors a{
	text-decoration-color: white;
}
.float-right{
	padding-left: 5px;
	width:30px;
	height: 30px;
}
.nav-edit a{
	color:white;
}
.custom-card{
	padding-top: 30px;	
}
.custom-modal{
	color:#ECF0F1;
}
.donate-font{
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
}
#mynav{
  background-color: dodgerblue;
  transition: 0.3s;
}