.boxsize img{
	height:60px;
}
.boxsize input{
	height:20px;
}
.boxsize button{
	height:20px;
}
.colors a{
	text-decoration-color: white;
}
.float-right{
	padding-left: 5px;
	width:30px;
	height: 30px;
}
.nav-link{
	color:white;
}